@page
@model CatCoffeePlatformWebRazorPage.Pages.Staff.StaffHomeModel
@{
}
<div class="row">
    <div class="col-md-4">
         <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <button type="submit" name="action" value="Manage cat" class="btn btn-primary">Manage Cat</button>
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="Manage booking" class="btn btn-primary">Manage booking</button>
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="Manage area" class="btn btn-primary">Manage area</button>
            </div>
        </form> 
        @*<a asp-page="/ManagerCat/ListCat">Manage Cat</a>*@ 
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}